body { 
    margin: 0; /* Remove the default margin */
    background: rgb(1,60,246); 
    background: linear-gradient(90deg, rgba(1,60,246,1) 15%, rgba(41,207,27,1) 52%, rgba(219,255,0,1) 80%); /*gradient can be linear or radial, here 90deg could be 0deg which would make it a vertical gradient instead of the horizontal across gradient that we have 
}

#image-row { 
    /* Use flexbox to arrange the images in a row */
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 40px;
}

img { 
    /* Prevent images from exceeding the width of their parent */
    max-width: 100%;
    height: auto;
}

#click-me {
    /* Centre the button */
    display: block;
    margin: auto;

    /* Style the button to look nice */
    background-color: black;
    color: white;
    border: none;
    padding: 10px;

    font-size: 2em;
    font-weight: bold;
}
